requests
python-dotenv
fastapi 
uvicorn
jinja2
python-telegram-bot
aiomysql
databases
pydantic-settings
python-multipart
SQLAlchemy
sqlmodel
starlette
pydantic[email]
blofin 
yagmail
resend
cryptography
